/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/open-sans-v26-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v26-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;

}

.box{
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

}

.box h3{
    font-weight: 700;
}
.container{
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 80%;
    margin:0 auto ;
}

nav{
    
    width: 65%;
    margin-left: 315px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav p{
    padding: 10px 0;
}

nav button{
    padding: 8px 15px;
    background: #00BAFC;
    border: 2px solid #00BAFC;
    border-radius: 6px;
    outline: none;  
    color: white;  
    transition: 0.6s ease;
}

nav button a{
    text-decoration: none;
    color: white;  
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
}

nav p:hover{
    /* margin-bottom: 10px; */
    border-bottom: 3px solid black;
}

nav button:hover{
    background: white;
    border: 2px solid #00BAFC;
}

nav button:hover a{
    color: #00BAFC;
}
